<!doctype html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {{ turbo() }}
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>NAC Checker</h1>
  <ul>
    <li><a href="{{ url_for('home.home') }}">Home</a>
    <li><a href="{{ url_for('settings.home') }}">Configure Settings</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>