{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <h1>Alerts</h1>
      {% from "_tablehelpers.html" import render_table %}
      {{ render_table(alerts_table) }}
    </div>
    <div>
      <h1>Endpoints</h1>
      {% from "_tablehelpers.html" import render_table %}
      {{ render_table(endpoints_table) }}
    </div>
    <h1>Upload Access List .CSV File</h1>
    <form action="endpoints" method=post enctype=multipart/form-data>
        <input type = file name = file>
        <input type = submit value = Upload>
    </form>
    <div id="configureNotifications">
      <h1>Configure Notifications</h1>
      {% from "_formhelpers.html" import render_field %}
        <form action="notifications" method=post>
          <dl>
            {{ render_field(notifications_form.phone_number) }}
            {{ render_field(notifications_form.sms_alert_interval) }}
            {{ render_field(notifications_form.webhook_url) }}
            {{ render_field(notifications_form.heart_beat_alert_interval) }}
          </dl>
          <p><input type=submit value=Submit>
        </form>
    </div>
    <div id="documentation">
      <h1>Documentation</h1>
      <h3>Webhook</h3>
      <span>POST Payload: JSON</span><br>
      <span>Format: { ip: String, failure_description: String, start_datetime: datetime, end_datetime: datetime || null }</span>
    </div>
    
{% endblock %}